<!-- abi home - chat home -->

<div class="abi-chat-home-container">
    <div class="img-holder">
        <img src="https://raw.githubusercontent.com/Selva1994/Host/main/Attention%403x.svg" alt="abi">
    </div>
    <p class="ch-now">Chat with Abi now</p>
    <div style="position: relative;">
        <input class="the-input" type="text" placeholder="Enter your query"> <button class="start-btn" (click)="goChatRm()">Start chat</button>
    </div>
</div>
<div class="preview-container">
    <app-preview></app-preview>
</div>