<div class="nav-container">
  <div class="nav-subcontainer">
    <div class="nav-sub-inner">
      <div class="tsec">
        <div class="col-list-t">
          <div class="nav-btns" [ngClass]="{'active_navs': selected_nav == 'chat'}" (click)="goChat('chat')">Chat</div>
          <div class="nav-btns" [ngClass]="{'active_navs': selected_nav == 'reports'}" (click)="goChat('reports')">
            Report
          </div>
          <div class="nav-btns" [ngClass]="{'active_navs': selected_nav == 'files'}" (click)="goChat('files')">Files
          </div>
          <div class="nav-btns" [ngClass]="{'active_navs': selected_nav == 'files'}" (click)="goChat('files')">Sort
            <span style="position: relative;"><img id="cdown" src="../../../assets/img/chevron-down.svg"
                alt="chevron-down"></span></div>
        </div>
        <div *ngIf="!loader" class="col-list">
          <div class="chat-item-container" *ngFor="let chat of chats" (click)="goToChatSnapShot(chat)" [ngClass]="{isSelected: chat.id == isSlected_id}">

            <!-- <pre>{{chat | json}}</pre> -->

            <div class="row_l" [tooltip]="chat.data.intent.question" triggers="mouseenter:mouseleave">
              <div class="row_sub_l">
                <span class="dot_sp">
                  <div class="theDot"></div>
                </span>
                <p class="ch_id">Chat #{{chat.id}}</p>
              </div>
              <div class="row_sub_l">
                <p class="ch_dt">{{convertTimeStamp(chat.id)}}</p>
              </div>
            </div>

            <div class="row_r">
              <div class="row_sub_l">

              </div>
              <div class="row_sub_l ch_stat"
                [ngClass]="{'ch_status-comp':false, 'ch_status-pen':'pending' === 'pending', 'ch_status-term':false}"
                [tooltip]="chat.data.intent.contextName" triggers="mouseenter:mouseleave">
                <p class="ch_dt_m">{{chat.data.intent.response ? chat.data.intent.response : "Not Defined"}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(chats.length == 0) && (loader == null)" class="col-list zero_state">
          <div class="zs_img">
            <img id="ch_img" src="../../../assets/img/chat.svg" alt="chat-empty">
          </div>
          <div class="zs_p">
            <span>You have no chat history</span>
          </div>

        </div>
        <div *ngIf="(loader == true)" class="col-list loading_state">
          <div class="zs_img">
            <img id="ch_img" src="../../../assets/img/chat.svg" alt="chat-empty">
          </div>
          <div class="zs_p">
            <span>Loading chats...</span>
          </div>

        </div>

      </div>

      

      <div *ngIf="chat_rendered" class="sub-con onereach_container">
        <app-one-reach-container></app-one-reach-container>
      </div>
      <div *ngIf="!chat_rendered" class="sub-con-rwc">
        <app-chat-history-renderer [messages_array]="chat_history" ></app-chat-history-renderer>
      </div>

    </div>

  </div>
</div>
