.nav-sub-inner {
  //   flex-grow: 1;
  display: flex;
}

.nav-btns {
  margin: 0px 12px 0px 12px;
  padding: 4px 4px;
  // border: 1px solid grey;
  cursor: pointer;
  padding: 8px 12px 8px 12px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.active_navs {
  color: #7535C0;
  background: #E5D7F3;
  height: 36px;
  width: auto;
  min-width: 56px;
  left: 0px;
  top: 0px;
  border-radius: 6px;


  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sub-con, .sub-con-rwc {
  display: flex;
  flex-direction: row;
}
.sub-con-rwc {
  margin: 51px 35px;
}

#cdown {
  vertical-align: middle;
  border-style: none;
  height: 13.3889088631px;
  width: 11.3030166626px;
  left: 8px;
  top: 3px;
  border-radius: 0px;
  position: absolute;
}

.tsec {
  // border-bottom: 1px solid lightgrey;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
//   border: 1px solid lightgrey;

}

.col-list-t {
  display: flex;
  border-bottom: 1px solid;
  border-color: lightgrey;
  padding-bottom: 12px;
}

.col-list {
  max-height: 919px;
  overflow-x: hidden;
  border: 1px solid lightgrey;

}

.chat-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  padding: 12px 35px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
.chat-item-container:hover {
  background: #DBCDE8;
}

.row_l {
  margin-right: 34px;
}

.row_r {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.row_sub_l {
  position: relative;

}

.ch_id {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  white-space: nowrap;

}

.ch_dt,
.ch_dt_m {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;

  position: relative;
  bottom: -10px;

}

.ch_dt_m {
  padding: 0px 12px;

}


.ch_md {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;


}

.dot_sp {
  position: absolute;
  left: -23px;
  top: -4px;
}

.theDot {
  height: 9px;
  width: 9px;
  background: rgba(16, 185, 129, 1);
  border-radius: 50%;
  display: inline-block;
}

.ch_stat {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;

  position: relative;
  //   top: -10px;
}

.ch_status-comp {
  color: #00BA34;
  background: linear-gradient(0deg, #ECFDF5, #ECFDF5), #FFFFFF;
  border-radius: 6px;
}

.ch_status-pen {
  color: #92400E;
  background: linear-gradient(0deg, #FEF3C7, #FEF3C7), #FFFFFF;
  border-radius: 6px;
}

.ch_status-term {
  color: #EF4444;
  background: linear-gradient(0deg, rgba(239, 68, 68, 0.1), rgba(239, 68, 68, 0.1)), #FFFFFF;
  border-radius: 6px;
}


.zero_state, .loading_state {
//   background: lightgrey;
  display: flex;
  flex-direction: column;
  grid-gap: 23px;
  gap: 12px;
  min-height: 919px;
  justify-content: flex-start;
  border: 1px solid lightgrey;

}
// .loading_state {
//     border: 1px solid lightgrey;
// }

.zs_img,
.zs_p {
  display: flex;
  justify-content: center;
}

.zs_p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */

  text-align: center;

  color: #22133E;

  opacity: 0.7;
}

.zs_img {
  height: 30.25px;
  margin-top: 160px;
}

#ch_img {
  filter: invert(46%) sepia(11%) saturate(884%) hue-rotate(192deg) brightness(87%) contrast(90%);
  height: 30px;
}


.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.isSelected {
  background-color: #DBCDE8;
}